@import "https://fonts.googleapis.com/css?family=Montserrat|Great+Vibes|Syncopate";

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    width: 100%;
}

.galleryBody, .artwallbody {
    overflow: hidden;
    height: 100vh;
    
}

h1 {
    font-family: "Syncopate", sans-serif;
    font-weight: lighter;
    color: #FFF;
    margin: 0;
    font-size: 150px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: "Syncopate", sans-serif;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 50px;
}

h3 {
    font-family: "Syncopate", sans-serif;
    font-size: 27px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    margin: 10px 0;
}

hr {
 border: 1px solid #b19258;
 margin: 20px 0;

}

table, th, td {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    border: none;
    text-align: left;
    padding-bottom: 10px;
}

td {
    padding-left: 20px;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 63px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100003;
    border-bottom: 3px solid #b19258;
}

.logo {
    height: 40px;
    width: auto;

}

.welcome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.welcome h1 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.welcome p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.welcomeButton {
    position: absolute;
    bottom: 100px;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: #b19258;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    opacity: 1;
    outline: none;
    cursor: pointer;
    left: calc(50% - 60px);
    width: 120px;
    transition: all 0.3s ease;
}

.welcomeButton:hover {
    transform: scale(1.1);
}

.ar-container {
    height: auto;
    width: 1000px;
    visibility: hidden;
    z-index: 0;
}

.artName {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s ease;
}

.content-wrapper{
    width: 1000px;  /* Säädä kokoa */
    min-height: 550px;
    /* display: block; */
    position: relative;
    margin: 10px 0 30px;
    z-index: 10;
}

.actress, .technical, .gemstone {
    display: none;
    width: 800px;
    min-height: 550px;
    background-color: #fff;
    align-self: center;
    padding: 10px 30px;
    border: 3px solid #b19258;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease;
    z-index: 10;
}

.technical hr {
    margin-bottom: 40px;
}

.gemstone h2 {
    font-size: 40px;
}

.content-close {
    position: absolute;
    top: 20px;
    right: 130px;
    font-size: 40px;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.ar-buttons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.arArtBtn, .arGemBtn, .arActressBtn{
    background-color:antiquewhite;
    height: 100px;
    width: 100px;
    border: 3px solid #b19258;
    border-radius: 10px;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.arIcon {
    display: block;
    margin: 18px auto;
    height: 60%;
    width: auto;
}

.visible {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.bottomNavigation {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100003;
}

.navButton {
    height: 60px;
    width: 80px;
    display: block;
    line-height: 80px;
    text-align: center;
    border-top: solid 3px white;
}

.navButton.active {
    border-top: solid 3px #b19258;
}

.icon {
    height: 30px;
    width: auto;
    transition: 0.3s ease;
    opacity: 0.8;
    cursor: pointer;
}

.icon:hover, .icon:active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: 0.3s ease;
    opacity: 1;
}

.active {
    filter: brightness(0) saturate(100%) invert(68%) sepia(9%) saturate(2035%) hue-rotate(1deg) brightness(87%) contrast(81%);
    opacity: 1;
}

.active:hover, .active:active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}


/* ARt Wall alasivu */

.artwallbody {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.modelMenu {
    width: 100%;
    background-color: antiquewhite;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 0;
    transition: 0.3s ease;
    z-index: 100002;
}

.modelMenu.open {
    top: 60px;
    transition: 0.3s ease;
}

.menuBtn {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-self: center;
}

.menuBtn p {
    font-size: 15px;
    margin: 0; 
}

.menuTextOpen, .menuTextClose {
    display: inline-block;
}

.hide {
    display: none;
}

.menuArrow {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.modelMenu.open .menuArrow {
    transform: rotate(180deg);
}

.slider.open {
    top: 60px;
}


#modelList {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS smooth scroll */
}

#modelList li {
    flex: 0 0 auto;
    scroll-snap-align: start;
    position: relative;
    display: block;
    text-align: center;
}

#modelList li img.menu-image {
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

#modelList li img.menu-image:hover {
    transform: scale(1.05);
}

/* Checkmark-ikonin tyylit */
.checkmark-icon {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    display: none;
    pointer-events: none;
    filter: brightness(0) invert(1) drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
}

#modelList li.selected img.menu-image {
    transform: scale(1.05);
    opacity: 0.6;

}
#modelList li.selected .checkmark-icon {
    display: block;
    transform: translateX(-50%);
}


button#ARButton {
    bottom: 100px !important;
    left: calc(50% - 60px) !important;
    background-color: #b19258 !important;
    opacity: 1 !important;
    width: 120px !important;
    font-size: 20px !important;
    transition: 0.3s ease;
    z-index: 100002 !important;
}

button#ARButton:hover {
    transform: scale(1.1);
}

/* canvas {
    z-index: 100;
} */

/* Tutorial-sivu */

.tutorial-container {
    width: 80%;
    margin: 90px auto;
}

.tutorial {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

.tutorial-container h1 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.tutorial h2 {
    font-size: 30px;
}

.tutorial h3 {
    font-size: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.tutorial p, .tutorial li {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.tutorial-iconrow {
    display: flex;
}
.tutorialIcon {
    width: 20px;
    margin-right: 10px;
}
